@model IEnumerable<Argus.MVC.Models.ApplicationModel>

@{
	ViewData["Title"] = "Home";
	string fontAwesomeCdnSource = "https://use.fontawesome.com/" + @ViewBag.FontAwesomeKey + ".js";
}

<script src="@fontAwesomeCdnSource"></script>

<div class="text-center">
	<h1 class="display-4">Argus - System Monitor</h1>
	<p>Status as of <span id="StatusDateTime">@DateTime.Now</span>.</p>
</div>
<div class="row">
	@* Static card to illustrate issue-free application. *@
	<div class="col-sm-4">
		<div class="card mb-3">
			<h5 class="card-header text-white bg-success">
				Application 0
				<i class="fa fa-eye-slash fa-2 fa-clickable float-right" aria-hidden="true"></i>
			</h5>
			<div class="card-body">
				<p>
					<span class="font-weight-bold">Product Owner: </span>
					Beth Smith
					<br />
					<span class="font-weight-bold">Team: </span>
					Team_5
				</p>
				<button type="button" class="btn btn-block bg-success text-white rounded-pill">
					Reports <span class="badge badge-light">0</span>
				</button>
				<a href="#" class="btn btn-block btn-success rounded-pill">Report a problem</a>
			</div>
		</div>
	</div>

	@foreach (var app in Model)
	{
		string cssClassByIssueCount = "bg-success";
		string cssTextColor = "text-white";

		if (app.HasUrgentPriority || app.IssueCount >= 3)
		{
			cssClassByIssueCount = "bg-danger";
		}
		else if (app.IssueCount >= 1)
		{
			cssClassByIssueCount = "bg-warning";
			cssTextColor = "text-dark";
		}

		<div class="col-sm-4" data-id="@app.Id">
			<div class="card mb-3">
				<h5 class="card-header @cssTextColor @cssClassByIssueCount">
					@app.Name
					<i class="fa fa-eye-slash fa-2 fa-clickable float-right" aria-hidden="true"></i>
				</h5>
				<div class="card-body">
					<p class="card-text">
						<span class="font-weight-bold">Product Owner: </span>
						@app.ProductOwnerName
						<br />
						<span class="font-weight-bold">Team: </span>
						@app.TeamName
					</p>
					<button type="button" class="btn btn-block @cssClassByIssueCount @cssTextColor rounded-pill">
						Reports <span class="badge badge-light">@app.IssueCount</span>
					</button>
					<button type="button" class="btn btn-block @cssClassByIssueCount @cssTextColor rounded-pill" onclick="showReportIssueModal()">
						Report a problem
					</button>
				</div>
			</div>
		</div>
	}
</div>

<!-- Loading Modal -->
<div class="modal fade" id="loadingModal" data-backdrop="static">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">

			<div class="modal-header bg-primary text-light">
				<h4 class="modal-title">Loading</h4>
				<button type="button" class="close text-light" data-dismiss="modal">&times;</button>
			</div>

			<div class="modal-body">
				<div class="d-flex align-items-center">
					<div class="spinner-border text-primary" role="status" aria-hidden="true"></div>
					<strong class="m-3">Retrieving application updates...</strong>
				</div>
			</div>

			<div class="modal-footer">
			</div>

		</div>
	</div>
</div>

<!-- Report-An-Issue Modal -->
<div class="modal fade" id="reportIssueModal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">

			<div class="modal-header bg-primary text-light">
				<h4 class="modal-title">Report Issue</h4>
				<button type="button" class="close text-light" data-dismiss="modal">&times;</button>
			</div>

			<div class="modal-body">
				<div class="align-items-center">
					<p>
						Click below to go to <strong>[Issue-Submission Site]</strong>
						in a new browser tab and submit your issue.
					</p>
					<p>
						<strong>Argus</strong> looks at a few things when reporting data. To maximize its effectiveness,
						please <em>tag</em> your issue with the appropriate application keyword(s) and/or include the
						the application's name in the title.
					</p>
					<p>
						<img src="" alt="Image showing how to tag keywords" height="42" width="42">
					</p>
				</div>
			</div>

			<div class="modal-footer">
				<a href="@ViewBag.IssueSubmissionUrl" target="_blank" class="btn btn-primary rounded-pill">Go to [Issue-Submission Site]!</a>
				<button type="button" class="btn btn-secondary rounded-pill" data-dismiss="modal">Cancel</button>
			</div>

		</div>
	</div>
</div>