@model IEnumerable<Argus.MVC.Models.ApplicationModel>

@{
	ViewData["Title"] = "Home";
	string fontAwesomeCdnSource = "https://use.fontawesome.com/" + @ViewBag.FontAwesomeKey + ".js";
}

@section Scripts
{
	<script src="@Url.Content("~/js/site.js")"></script>
}

<script>
	var sortOption = localStorage.getItem('sortOption');
	if (sortOption && window.location.href.indexOf("sortOption") == -1) {
		window.location.href = location.origin + '?sortOption=' + sortOption;
	}
</script>

<script src="@fontAwesomeCdnSource"></script>

<div class="text-center">
	<h1 class="display-4">
		<strong>Argus</strong> - System Monitor
		<environment include="Development">
			<strong>(DEV)</strong>
		</environment>
	</h1>
	<p>Status as of <span id="StatusDateTime">@DateTime.Now</span>.</p>

	@await Html.PartialAsync("_ChangelogUpdatePartial")

	<div id="AfterHoursAlert" class="alert alert-warning alert-dismissible" role="alert">
		<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
		NOTE: Auto-refresh is disabled between 6pm and 8am local time! You may still refresh data by reloading the page on-demand.
		<button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
</div>

<div class="row">
	@* Static card to illustrate issue-free application. *@
	<div class="col-sm-4">
		<div class="card mb-3">
			<h5 class="card-header text-white bg-success">
				Application 0
				<i class="fa fa-eye-slash fa-2 fa-clickable float-right" aria-hidden="true"></i>
			</h5>
			<div class="card-body">
				<p>
					<span class="font-weight-bold">Product Owner: </span>
					Beth Smith
					<br />
					<span class="font-weight-bold">Team: </span>
					Team_5
				</p>
				<button type="button" class="btn btn-block bg-success text-white rounded-pill">
					Reports <span class="badge badge-light">0</span>
				</button>
				<a href="#" class="btn btn-block btn-success rounded-pill">Report a problem</a>
			</div>
		</div>
	</div>

	@foreach (var app in Model)
	{
		string cssClassByIssueCount = "bg-success";
		string cssTextColor = "text-white";

		if (app.HasUrgentPriority || app.IssueCount >= 3)
		{
			cssClassByIssueCount = "bg-danger";
		}
		else if (app.IssueCount >= 1)
		{
			cssClassByIssueCount = "bg-warning";
			cssTextColor = "text-dark";
		}

		<div class="col-sm-4" data-id="@app.Id">
			<div class="card mb-3">
				<h5 class="card-header @cssTextColor @cssClassByIssueCount">
					@app.Name
					@if (app.HasUrgentPriority)
					{
						<i class="fa fa-exclamation-triangle pulse" aria-hidden="true" title="High priority issue(s) have been reported."></i>
					}
					<i class="fa fa-eye-slash fa-2 fa-clickable float-right" aria-hidden="true" title="Click to hide this application."></i>
				</h5>
				<div class="card-body">
					<p class="card-text">
						<span class="font-weight-bold">Product Owner: </span>
						@app.ProductOwnerName
						<br />
						<span class="font-weight-bold">Team: </span>
						@app.TeamName
					</p>
					<button type="button" class="btn btn-block @cssClassByIssueCount @cssTextColor rounded-pill">
						Reports <span class="badge badge-light">@app.IssueCount</span>
					</button>
					<button type="button" class="btn btn-block @cssClassByIssueCount @cssTextColor rounded-pill" onclick="showReportIssueModal()">
						Report a problem
					</button>
				</div>
			</div>
		</div>
	}
</div>

<!-- Loading Modal -->
<div class="modal fade" id="loadingModal" data-backdrop="static">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">

			<div class="modal-header bg-primary text-light">
				<h4 class="modal-title">Loading</h4>
				<button type="button" class="close text-light" data-dismiss="modal">&times;</button>
			</div>

			<div class="modal-body">
				<div class="d-flex align-items-center">
					<div class="spinner-border text-primary" role="status" aria-hidden="true"></div>
					<strong class="m-3">Retrieving application updates...</strong>
				</div>
			</div>

			<div class="modal-footer">
			</div>

		</div>
	</div>
</div>

<!-- Settings Modal -->
<div class="modal fade" id="settingsModal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">

			<div class="modal-header bg-primary text-light">
				<h4 class="modal-title">Settings</h4>
				<button type="button" class="close text-light" data-dismiss="modal">&times;</button>
			</div>

			<div class="modal-body">
				<div class="align-items-center">
					<div id="SaveSettingsAlert" class="alert alert-success alert-dismissible" role="alert">
						<i class="fa fa-check-circle-o" aria-hidden="true"></i>
						Your settings have been saved!
						<button type="button" class="close" data-dismiss="alert">&times;</button>
					</div>
					<div id="ResetSettingsAlert" class="alert alert-info alert-dismissible" role="alert">
						<i class="fa fa-info-circle" aria-hidden="true"></i>
						Your settings have been reset!
						<button type="button" class="close" data-dismiss="alert">&times;</button>
					</div>
					<div class="custom-control custom-switch">
						<input id="AutoScrollCheckbox" type="checkbox" class="custom-control-input">
						<label class="custom-control-label" for="AutoScrollCheckbox">Enable auto-scroll</label>
					</div>
					<div class="custom-control custom-switch">
						<input id="AutoRefreshCheckbox" type="checkbox" class="custom-control-input">
						<label class="custom-control-label" for="AutoRefreshCheckbox">Enable auto-refresh</label>
					</div>
					<div class="custom-control custom-switch">
						<input id="UnhideCheckbox" type="checkbox" class="custom-control-input">
						<label class="custom-control-label" for="UnhideCheckbox">Show hidden apps</label>
					</div>
					<div class="dropdown-divider"></div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<label class="input-group-text" for="inputGroupSelect01">Sort</label>
						</div>
						<select class="custom-select" id="SortSelectionInputGroup">
							@* I don't like this but at least it's clean enough to read. *@
							@if (ViewBag.SortSelection == 1)
							{
							<option value="0">Alphabetical (default)</option>
							<option value="1" selected>Priority</option>
							}
							else
							{
							<option value="0" selected>Alphabetical (default)</option>
							<option value="1">Priority</option>
							}
						</select>
					</div>

				</div>
			</div>

			<div class="modal-footer justify-content-center">
				<button class="btn btn-primary rounded-pill" href="#" onclick="saveSettings()">
					<span><i class="fa fa-floppy-o" aria-hidden="true"></i></span>
					<span class="pl-2">Save Settings</span>
				</button>
				<button class="btn btn-danger rounded-pill" href="#" onclick="resetSettings()">
					<span><i class="fa fa-floppy-o" aria-hidden="true"></i></span>
					<span class="pl-2">Reset Settings</span>
				</button>
			</div>

		</div>
	</div>
</div>

<!-- Report-An-Issue Modal -->
<div class="modal fade" id="reportIssueModal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">

			<div class="modal-header bg-primary text-light">
				<h4 class="modal-title">Report Issue</h4>
				<button type="button" class="close text-light" data-dismiss="modal">&times;</button>
			</div>

			<div class="modal-body">
				<div class="align-items-center">
					<p>
						Click below to go to <strong>[Issue-Submission Site]</strong>
						in a new browser tab and submit your issue.
					</p>
					<p>
						<strong>Argus</strong> looks at a few things when reporting data. To maximize its effectiveness,
						please <em>tag</em> your issue with the appropriate application keyword(s) and/or include the
						the application's name in the title.
					</p>
					<p>
						<img src="" alt="Image showing how to tag keywords" height="42" width="42">
					</p>
				</div>
			</div>

			<div class="modal-footer">
				<a href="@ViewBag.IssueSubmissionUrl" target="_blank" class="btn btn-block btn-primary rounded-pill">Go to [Issue-Submission Site]!</a>
			</div>

		</div>
	</div>
</div>